<header th:fragment="header-public">
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm" data-bs-theme="light" id="main-navbar">
        <div class="container-fluid">
            <img th:src="@{/img/nombre_empresa.png}" class="logo"/><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavPublico" aria-controls="navbarNavPublico" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavPublico">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#descripcion">Empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#ubicacion">Ubicación</a></li>
                    <li class="nav-item"><a class="nav-link" href="#carrito">Carrito</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <button class="btn btn-link text-body me-2" id="theme-toggle" type="button" title="Alternar tema">
                        <i class="bi bi-moon-fill" id="theme-icon"></i>
                    </button>
                    <button class="btn btn-outline-dark me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="bi bi-person-circle"></i> Login
                    </button>
                    <button class="btn btn-primary" type="button" onclick="alert('Funcionalidad de Carrito en desarrollo.')">
                        <i class="bi bi-cart"></i> <span id="contador-carrito">0</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

</header>